.root {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  gap: 60px;
  padding: 20px;

  .ImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 210px;
      height: 50px;

      background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png");
      background-size: 210px 50px;
      background-repeat: no-repeat;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    li {
      list-style: none;
      color: #d0d1d3;
      font-size: 35px;
      font-weight: 300;
      display: flex;
    }

    li:hover{
      color: #fff;
    }
  }

  .ContainerLanguage {
    width: 180px;
    padding-top: 10px;
    .wel {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      font-size: 17px;
      font-weight: 600;
    }
    p {
      color:  #d0d1d3;
      font-size: 25px;
      font-weight: normal;
    }
  }
  button {
    .steamLogo {
      width: 33px;
      height: 33px;
    }
    .logoColumn {
      display: flex;
      flex-direction: column;
    }

    position: absolute;
    top: 0;
    right: 60px;

    width: 450px;
    height: 120px;

    border: 5px solid grey;

    background: none;
    color: #fff;

    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;

    padding-left: 50px;
    
    text-align: start;

    cursor: pointer;
    border-radius: 5px;
  }
  button:hover{
    border: 5px solid red;

    top: -5px;
    transition: 300ms;
  }
}
