.root{
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;


.container{
width: 100px;

p{
    text-align: center;
    position: absolute;
    color:white;
    width: 1000px;
    height: 30px;
    left: 400px;
    top: 200px;
    font-size: 30px;
}

}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
        .cards{
    
          img{
            color: white;
           
          }
         
          }
        }
      }

      h1{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 400px;
            border-radius: 50%;
            animation-name: her;
            animation-timing-function: 2s;
            animation-duration: 2s;
            animation-delay: inherit;
            animation-iteration-count: infinite;

            @keyframes her {
                0%{
                transform: rotate(360deg);
                }
        }
    }

}