.root{
    background: rgb(179,177,177);
    background: linear-gradient(293deg, rgba(179,177,177,1) 3%, rgba(83,82,82,0.5886729691876751) 56%, rgba(45,45,45,1) 95%);
    width: 100%;
    height: 1000px;

.container{
 
    

    h1{
        font-size: 20px;
    }
}

}