
.root {
  display: flex;
  flex-direction: column;
  gap: 0px;



  .Container {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 150px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    .title {
      color: grey;
      font-size: 30px;
    }

    p {
      color: white;
      font-size: 90px;
      font-family: 'Albertus Nova';
      font-style: normal;
      font-weight: 400;
    }
  }

  .Black {
    background-color: black;
    width: 100%;
    height: 150px;
    -webkit-box-shadow: 0px -68px 28px 23px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px -68px 28px 23px rgba(0, 0, 0, 0.99);
    box-shadow: 0px -68px 28px 23px rgba(0, 0, 0, 0.99);
  }

.contain{
display: flex;
justify-content: center;
align-items: center;

.k{
  position: absolute;
  top: 1550px;
  color: white;
  font-size: 145px;
  font-weight: 900;
}


  .Location{

    }
  
    .g{
      top: 1470px;
      color: darkslategray;
      font-size: 80px;
      font-weight: 900;
      position: absolute;
       

      }
    }

  img {
    width: 100%;
   
  }
  .black_square{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 400px;
    -webkit-box-shadow: 0px -100px 25px 39px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px -100px 25px 39px rgba(0, 0, 0, 0.63);
    box-shadow: 0px -100px 25px 39px rgba(0, 0, 0, 0.63);



    .text{
      font-size: 27px;
      width: 1500px;
      height: 200px;
      color: white;
      font-style: normal;
      font-weight: 400;
      text-align: center;
    }
    button{
      color: white;
      width: 300px;
      height: 80px;
      border: 5px solid darkslategrey;
      background-color: black;
      font-size: 30px;
      font-weight: normal;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .content{
    -webkit-box-shadow: 0px 100px 23px -23px rgba(0, 0, 0, 0.63) inset;
-moz-box-shadow: 0px 100px 23px -23px rgba(0, 0, 0, 0.63) inset;
box-shadow: 0px 100px 23px -23px rgba(0, 0, 0, 0.63) inset;
  }
}
