.root {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: black;

  .Container {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 150px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    .dotaDownloadButton { 
      .textColumn{
        p{
          font-size: 30px;
        }
      }
      .steamLogo {
        width: 63px;
        height: 63px;
      }
      .textColumn{
        display: flex;
        flex-direction: column;
      }

      display: flex;
      

      width: 450px;
      min-height: 120px;

      border: 5px solid grey;

      background: none;
      color: #fff;

      font-size: 30px;

      cursor: pointer;
      border-radius: 5px;
    }

    .title {
      color: grey;
      font-size: 30px;
    }

    p {
      color: white;
      font-size: 90px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .video {
      opacity: 0.7;
  }

  .Black {
    position: relative;

    background-color: black;
    width: 100%;
    height: 150px;
    -webkit-box-shadow: 0px -68px 28px 23px rgba(0, 0, 0, 0.99);
    -moz-box-shadow: 0px -68px 28px 23px rgba(0, 0, 0, 0.99);
    box-shadow: 0px -68px 28px 23px rgba(0, 0, 0, 0.99);
  }

  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;

    .k {
      position: absolute;
      top: 1550px;
      color: white;
      font-size: 145px;
      font-weight: 900;
    }

    .Location {
    }

    .g {
      top: 1470px;
      color: darkslategray;
      font-size: 80px;
      font-weight: 900;
      position: absolute;
    }
  }

  img {
    width: 100%;
  }
  .black_square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 400px;
    -webkit-box-shadow: 0px -100px 25px 39px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px -100px 25px 39px rgba(0, 0, 0, 0.63);
    box-shadow: 0px -100px 25px 39px rgba(0, 0, 0, 0.63);

    .text {
      font-size: 27px;
      width: 1500px;
      height: 200px;
      color: white;
      font-style: normal;
      font-weight: 400;
      text-align: center;
    }
    button {
      color: white;
      width: 300px;
      height: 80px;
      border: 5px solid darkslategrey;
      background-color: black;
      font-size: 30px;
      font-weight: normal;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 100px 23px -23px rgba(0, 0, 0, 0.63) inset;
    -moz-box-shadow: 0px 100px 23px -23px rgba(0, 0, 0, 0.63) inset;
    box-shadow: 0px 100px 23px -23px rgba(0, 0, 0, 0.63) inset;

    button {
      position: absolute;
      top: 3130px;
      right: 780px;
      color: white;
      width: 260px;
      height: 80px;
      border: 5px solid darkslategrey;
      background: none;
      font-size: 27px;
      font-weight: normal;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      position: absolute;
      color: white;
      top: 2620px;
      width: 1300px;
    }

    p {
      top: 2750px;
      position: absolute;
      color: white;
      font-size: 60px;
    }

    h2 {
      top: 2810px;
      position: absolute;
      color: white;
      font-size: 100px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .Contain {
      position: absolute;
      top: 4100px;
      left: 510px;
    }

    h1 {
      color: grey;
      text-align: center;
      font-size: 61px;
      position: absolute;
      top: 3646px;
    }

    p {
      color: white;
      font-size: 120px;
      text-align: center;
    }

    .Inter {
      position: absolute;
      width: 60px;
      top: 3350px;
      right: 865px;
    }
    img {
      height: 1200px;
    }
  }
  .LastBlack {
    background-color: black;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;

    p {
      width: 1200px;
      color: white;
      font-size: 30px;
    }
  }
  .LastContent {
    .Text {
      position: absolute;
      top: 5075px;
      left: 215px;
      p {
        color: grey;
        font-size: 70px;
      }

      h1 {
        color: white;
        font-size: 130px;
      }
    }
  }
}
